html, body {
	display: flex;
	height: 100%;
	font-family: sans-serif;
	flex-direction: column;
}

header {
	display: flex;
	font-size: 2em;
	flex-direction: column;
	width: 100%;
}
h1 {
	margin-left: auto;
	margin-right: auto;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 2em;
	margin-right: auto;
	margin-left: auto;
}
input[type="text"] {
	width: 50em;
    height: 2em;
    margin-bottom: 10px;
    font-size: 1.2em;
}
input[type="radio"] {
	margin: 2em;
}
#converter {
	width: 30em;
	background-color: lightgrey;
	border-radius: 10px;
}
#inputTemp {
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	width: 20em;
}

.clear {
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-right: auto;
	margin-left: auto;
}
.lightpink {
	background-color: lightpink;
}
.lightblue {
	background-color: lightblue;
}
.lightgreen {
	background-color: lightgreen;
}
